/* Planets */
#planets-wrapper {
	height: 700px;
	position: absolute;
	right: 50%;
	top: 55.5%;
	width: 700px;
	z-index: 7;
}

#planets {
	height: 700px;
	margin: -100px 150px 0 0px;
	position: absolute;
	right: 0;
	top: 0;
	width: 700px;
	z-index: 20;
}

.planet {
	height: 700px;
	position: absolute;
	width: 700px;
}


.pbar {
	height: 10px;
	margin-top: -5px;
	position: absolute;
	top: 50%;
	z-index: 3;
}

.pball {
	position: absolute;
	top: 50%;
	z-index: 4;
}

.ptop {

}

#planets-shadow {
	height: 700px;
	margin: -75px 150px 0 0px;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
	width: 700px;
	z-index: 10;
}

.planet-shadow {
	background: transparent url("../images/testimonials/planets-shadow.png") no-repeat;
	display: none;
	height: 700px;
	position: absolute;
	width: 700px;
}

/* Sun */

#sun {
	background-position: center 0;
	display: block;
	z-index: 10;
}

#sun .pball {
	height: 120px;
	left: 50%;
	margin: -60px 0 0 -60px;
	width: 120px;
}

/* Mercury */

.mercury .pbar {
	right: 50%;
	width: 95px;
}

.mercury .pball {
	height: 46px;
	left: 230px;
	margin-top: -23px;
	width: 46px;
}

.mercury.animate {
	background-position: center -700px;
	display: block;
	-ms-animation: planet 3s linear infinite;
	-webkit-animation: planet 3s linear infinite;
	-moz-animation: planet 3s linear infinite;
	-o-animation: planet 3s linear infinite;
	animation: planet 3s linear infinite;
	z-index: 5;
}

.mercury .pball.animate {
	display: block;
	-ms-animation: planet-stay 3s linear 100ms infinite;
	-webkit-animation: planet-stay 3s linear 100ms infinite;
	-moz-animation: planet-stay 3s linear 100ms infinite;
	-o-animation: planet-stay 3s linear 100ms infinite;
	animation: planet-stay 3s linear 100ms infinite;
}

/* Venus */

.venus .pbar {
	left: 50%;
	width: 120px;
}

.venus .pball {
	height: 60px;
	margin-top: -30px;
	right: 200px;
	width: 60px;
}

.venus.animate {
	background-position: center -1400px;
	display: block;
	-ms-animation: planet 5s linear infinite;
	-webkit-animation: planet 5s linear infinite;
	-moz-animation: planet 5s linear infinite;
	-o-animation: planet 5s linear infinite;
	animation: planet 5s linear infinite;
	z-index: 6;
}

.venus .pball.animate {
	display: block;
	-ms-animation: planet-stay 5s linear 100ms infinite;
	-webkit-animation: planet-stay 5s linear 100ms infinite;
	-moz-animation: planet-stay 5s linear 100ms infinite;
	-o-animation: planet-stay 5s linear 100ms infinite;
	animation: planet-stay 5s linear 100ms infinite;
}




/* Earth */

.earth .pbar {
	right: 50%;
	width: 135px;
}

.earth .pball {
	height: 60px;
	left: 185px;
	margin-top: -30px;
	width: 60px;
}

.earth.animate {
	background-position: center -2100px;
	display: block;
	-ms-animation: planet 7s linear infinite;
	-webkit-animation: planet 7s linear infinite;
	-moz-animation: planet 7s linear infinite;
	-o-animation: planet 7s linear infinite;
	animation: planet 7s linear infinite;
	z-index: 5;
}

.earth .pball.animate {
	display: block;
	-ms-animation: planet-stay 7s linear 100ms infinite;
	-webkit-animation: planet-stay 7s linear 100ms infinite;
	-moz-animation: planet-stay 7s linear 100ms infinite;
	-o-animation: planet-stay 7s linear 100ms infinite;
	animation: planet-stay 7s linear 100ms infinite;
}



/* Mars */

.mars .pbar {
	left: 50%;
	width: 165px;
}

.mars .pball {
	height: 50px;
	margin-top: -25px;
	right: 160px;
	width: 50px;
}

.mars.animate {
	background-position: center -2800px;
	display: block;
	-ms-animation: planet 15s linear infinite;
	-webkit-animation: planet 15s linear infinite;
	-moz-animation: planet 15s linear infinite;
	-o-animation: planet 15s linear infinite;
	animation: planet 15s linear infinite;
	z-index: 4;
}

.mars .pball.animate {
	display: block;
	-ms-animation: planet-stay 15s linear 100ms infinite;
	-webkit-animation: planet-stay 15s linear 100ms infinite;
	-moz-animation: planet-stay 15s linear 100ms infinite;
	-o-animation: planet-stay 15s linear 100ms infinite;
	animation: planet-stay 15s linear 100ms infinite;
}


/* Jupiter */

.jupiter .pbar {
	right: 50%;
	width: 180px;
}

.jupiter .pball {
	height: 90px;
	left: 120px;
	margin-top: -45px;
	width: 90px;
}

.jupiter.animate {
	background-position: center -3500px;
	display: block;
	-ms-animation: planet 25s linear infinite;
	-webkit-animation: planet 25s linear infinite;
	-moz-animation: planet 25s linear infinite;
	-o-animation: planet 25s linear infinite;
	animation: planet 25s linear infinite;
	z-index: 5;
}

.jupiter .pball.animate {
	display: block;
	-ms-animation: planet-stay 25s linear 100ms infinite;
	-webkit-animation: planet-stay 25s linear 100ms infinite;
	-moz-animation: planet-stay 25s linear 100ms infinite;
	-o-animation: planet-stay 25s linear 100ms infinite;
	animation: planet-stay 25s linear 100ms infinite;
}



/* Saturn */

.saturn .pbar {
	left: 50%;
	width: 225px;
}

.saturn .pball {
	height: 80px;
	margin-top: -40px;
	right: 85px;
	width: 80px;
}

.saturn-rings {
	height: 130px;
	margin-top: -65px;
	position: absolute;
	right: 60px;
	top: 50%;
	width: 130px;
	z-index: 5;
}

.saturn.animate {
	background-position: center -4200px;
	display: block;
	-ms-animation: planet 40s linear infinite;
	-webkit-animation: planet 40s linear infinite;
	-moz-animation: planet 40s linear infinite;
	-o-animation: planet 40s linear infinite;
	animation: planet 40s linear infinite;
	z-index: 4;
}

.saturn .pball.animate {
	display: block;
	-ms-animation: planet-stay 40s linear 100ms infinite;
	-webkit-animation: planet-stay 40s linear 100ms infinite;
	-moz-animation: planet-stay 40s linear 100ms infinite;
	-o-animation: planet-stay 40s linear 100ms infinite;
	animation: planet-stay 40s linear 100ms infinite;
}



/* Uranus */

.uranus .pbar {
	right: 50%;
	width: 260px;
}

.uranus .pball {
	height: 60px;
	left: 60px;
	margin-top: -30px;
	width: 60px;
}

.uranus.animate {
	background-position: center -4900px;
	display: block;
	-ms-animation: planet 60s linear infinite;
	-webkit-animation: planet 60s linear infinite;
	-moz-animation: planet 60s linear infinite;
	-o-animation: planet 60s linear infinite;
	animation: planet 60s linear infinite;
	z-index: 5;
}

.uranus .pball.animate {
	display: block;
	-ms-animation: planet-stay 60s linear 100ms infinite;
	-webkit-animation: planet-stay 60s linear 100ms infinite;
	-moz-animation: planet-stay 60s linear 100ms infinite;
	-o-animation: planet-stay 60s linear 100ms infinite;
	animation: planet-stay 60s linear 100ms infinite;
}



/* Neptune */

.neptune .pbar {
	left: 50%;
	width: 275px;
}

.neptune .pball {
	height: 70px;
	margin-top: -35px;
	right: 40px;
	width: 70px;
}

.neptune.animate {
	background-position: center -5600px;
	display: block;
	-ms-animation: planet 80s linear infinite;
	-webkit-animation: planet 80s linear infinite;
	-moz-animation: planet 80s linear infinite;
	-o-animation: planet 80s linear infinite;
	animation: planet 80s linear infinite;
	z-index: 4;
}

.neptune .pball.animate {
	display: block;
	-ms-animation: planet-stay 80s linear 100ms infinite;
	-webkit-animation: planet-stay 80s linear 100ms infinite;
	-moz-animation: planet-stay 80s linear 100ms infinite;
	-o-animation: planet-stay 80s linear 100ms infinite;
	animation: planet-stay 80s linear 100ms infinite;
}


/* Pluto */

.pluto .pbar {
	right: 50%;
	width: 310px;
}

.pluto .pball {
	height: 50px;
	left: 15px;
	margin-top: -25px;
	width: 50px;
}

.pluto.animate {
	background-position: center -6300px;
	display: block;
	-ms-animation: planet 100s linear infinite;
	-webkit-animation: planet 100s linear infinite;
	-moz-animation: planet 100s linear infinite;
	-o-animation: planet 100s linear infinite;
	animation: planet 100s linear infinite;
	z-index: 5;
}

.pluto .pball.animate {
	display: block;
	-ms-animation: planet-stay 100s linear 100ms infinite;
	-webkit-animation: planet-stay 100s linear 100ms infinite;
	-moz-animation: planet-stay 100s linear 100ms infinite;
	-o-animation: planet-stay 100s linear 100ms infinite;
	animation: planet-stay 100s linear 100ms infinite;
}

@-webkit-keyframes planet /* Safari and Chrome */ {
	from {
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	to {
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes planet {
	from {
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	to {
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@-webkit-keyframes planet-stay /* Safari and Chrome */ {
	from {
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes planet-stay {
	from {
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}